<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="row">
            <h2 style="text-align:center;">RICERCA & SVILUPPO</h2>
            <div class="col-md-8 col-md-offset-2">
                <p translate="ABOUT-US.R&D.DESCRIPTION1"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="partner in partners">
                <p>{{partner.DESC}}</p>
            </div>
        </div>
        <div ng-repeat="partner in partners | translateFilter:search">
            {{ partner.DESC | translate }}
        </div>  

    </div>

</div>